#AuthUserFile /srv/max/nfshome/project/www/wiki/.htpasswd
#AuthName "Wiki write access"
#uthType Basic
#<Limit GET>
#require valid-user
#</Limit>

#SetEnv SITE_DIR "/srv/max/nfshome/project/www/dedi/wiki/"

#SetEnvIf Request_URI /wiki/wiki\.cgi        SITE_DIR=/srv/max/nfshome/project/data/wiki-private/ SITE_URL=. SELF=/project.new/wiki/
#SetEnvIf Request_URI /wiki-public/wiki\.cgi SITE_DIR=/srv/max/nfshome/project/www/dedi/wiki/

#SetEnv SITE_DIR "/srv/max/nfshome/project/data/wiki-private/"
#SetEnv SITE_URL "../../dedi/wiki/"

#RewriteEngine   Off
#RewriteOptions  Inherit

##RewriteBase /
##RewriteCond %{REQUEST_URI} !=/project\.new/wiki/wiki\.cgi
##RewriteCond %{REQUEST_URI} !=/project\.new/wiki/env\.cgi
#RewriteCond %{REQUEST_URI} !^/project.new/wiki/(.*)\.(cgi|js|css)
#RewriteRule  ^env /project.new/wiki/env.cgi/$1  [L,PT]

##RewriteRule  ^([a-t].*) /project.new/wiki/wiki.cgi/$1  [L,PT]
#RewriteCond %{REQUEST_URI} !^/project.new/wiki/(.*)\.(cgi|js|css)
#RewriteRule  ^(.*) /project.new/wiki/wiki.cgi/$1  [L,PT]


#DirectoryIndex wiki.cgi

#RewriteRule    wiki\.(cgi|css)(.*)$  - [L]

#RewriteRule    [^\/]+/wiki.css     wiki.css  [L]
#RewriteRule    ^(.*)$  wiki.cgi/$1
#[L]
#[T=application/x-httpd-cgi]




#RewriteEngine   On
#RewriteMap      cgiauth                                 prg:/srv/max/nfshome/project/www/wiki/CGIAuth.pl

#RewriteCond     %{HTTP:Authorization}                   ^Basic                                  [NC]
#RewriteCond     ${cgiauth:%{HTTP:Authorization}}        ^BASIC:([^:]+):(.*)                     [NC]
#RewriteRule     ^(.*)                                   -                                       [E=PHP_AUTH_USER:%1,E=PHP_AUTH_PW:%2,L]

#RewriteCond     %{HTTP:Authorization}                   ^Digest                                 [NC]
#RewriteCond     ${cgiauth:%{HTTP:Authorization}}        ^DIGEST:(.*)                            [NC]
#RewriteRule     ^(.*)                                   -                    
