body { background-color: #eee ; color: #222 ; font-family: sans-serif; }
th { background-color: #ddd; }
tr.even { background-color: #e8e8e8; }
tr.odd  { background-color: #f0f0f0; }
pre { background-color: #222 ; color: #eee ; border: 1px; }
.tool, .ref { 
    color:#002;
    text-decoration:none;
}

.diff_in {
    background-color: #ded;
}
.diff_mod {
    background-color: #eed;
}
.diff_out {
    background-color: #edd;
}
     
a.intern {
    color: #484;
}
a.local {
    color: #848;
}
a.intern_missing {
    color: #844;
}
a.extern {
    color: #448;
}
    
a.tool, input.tool {
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #888;
    border-top:    3px solid #aaa;
    border-left:   1px solid #aaa;
    border-bottom: 3px solid #666;
    border-right:  1px solid #666;
}

a.head {
    color: #004;
}
a.tool:hover, input.tool:hover {
    background-color: #088;
    border-top:    2px solid #0aa;
    border-left:   1px solid #0aa;
    border-bottom: 2px solid #066;
    border-right:  1px solid #066;
}
a.tool:hover,input.ref:hover { 
    color:#002;
    text-decoration:underline; 
}
a {
    text-decoration:none; 
}
a:hover {
    text-decoration:underline; 
}
textarea {
    color: #000;
    background-color: #ccc;
}
h1, h2, h3 {
/*    border-bottom: 1px solid #ddd;*/
    border-bottom: 1px dotted #ddd;
}

pre {
    border: 1px dotted #000;
    background-color: #ccc;
    color: #000;
    font-family: monospace, sans-serif;
}
.frame {
    border: 1px solid #888;
    background-color: #ddd;
    padding: 3px; 
}

img {
    border: 0px;
}
/*input.tool { border: none; }*/
/* DEBUG */

span.error {
    background-color: #844;
    color: #ddd;
}
p.error {
    color: #844;
/*    background-color: #ddd;*/
}
img.bordered {
    border: 2px solid #888;
}

p:hover, tr:hover, li:hover, h1:hover,h2:hover, h3:hover, h4:hover {
    background-color:#ffffff;
}
div.toc {
    position:fixed;
    width: 160px;
    bottom:-0px;
    right:-0px;
    background-color:#eaeaea;
    /* set opacity via javascript to pass CSS validator */
/*    opacity: 0.25; */
    /* IE8 */
/*    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";*/
    /* IE5+ */
  /*  filter: alpha(opacity=25);*/
    border-top: #ffffff solid 1px;
    border-left: #ffffff solid 1px;
    border-bottom: #d5d5d5 solid 1px;
    border-right: #d5d5d5 solid 1px;
}
a.toc {
    display:block;
    /* border: solid #eaeaea 1px; */
    border: none 1px;
    color: #004;
}
a.in_toc {
    display:block;
    color: #004;
    border: solid #000 1px;
    background-color: #fff;
}
.toc {
    font-size: 8px;
    margin:1px;
    padding: 0;
}
ul.toc {
    padding: 2px;
    list-style-type:disc;
}
li.toc, dd.doc {
    margin-left: 1em;
}

